<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h1 class="card-title text-center mb-4">OTP Verification</h1>
      @if (!hasSentOtp)
      {
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email"
            [class.is-invalid]="hasError('email')" />
            @if (hasError('email'))
            {
              <div class="invalid-feedback">
                <span>Please enter a valid email</span>
              </div>
            }
          </div>
        </form>
        <div class="text-center">
          <button [appLoadingButton]="isLoading" type="button" class="btn btn-primary mx-auto" (click)="requestOtp()" [disabled]="isLoading">
              Submit
          </button>
        </div>
    }
    @else
    {
      <div class="text-center">
        <p>
          One Time Pin (OTP) has been sent via email to<br/>
          <b>{{ form.value.email }}</b>
        </p>
        @if (countdown > 0)
        {
          <p class="mb-0">
            <span class="text-secondary">Resend OTP in</span> {{ countdown * 1000 | date : 'mm:ss' }}
          </p>
        }
        @else
        {
          <button [appLoadingButton]="isLoading" type="button" class="btn btn-primary mx-auto" (click)="requestOtp()" [disabled]="isLoading">
            Resend
          </button>
        }
      </div>
    }
    @if (errorMessage)
    {
      <div class="alert alert-danger mt-3" role="alert">
        {{errorMessage}}
      </div>
    }
    <p class="text-center mb-0 mt-3">Already have a code? <a routerLink="/validate">Validate</a></p>
  </div>
</div>